<div>
    <p></p>
    <h3>Регистрация</h3>
    <p></p>
    <form novalidate ng-submit="functionRegistration()">
        <div class="row">
            <div class="col">
                <div class="form-floating input-group-sm">
                    <label for="userFullName" class="text-secondary font-weight-bold">Ваше имя</label>
                    <input style="width: 80%;" type="text" class="form-control" id="userFullName"
                           placeholder="Ф.И.О." ng-model="reguser.fullName">
                </div>
                <p></p>
                <div class="form-floating input-group-sm">
                    <label for="userEmail" class="text-secondary font-weight-bold">Ваш email</label>
                    <input style="width: 80%;" type="text" class="form-control" id="userEmail"
                           placeholder="Введите email"
                           ng-model="reguser.email">
                </div>
                <p></p>
                <div class="form-floating input-group-sm">
                    <label for="userUsername" class="text-info font-weight-bold">Имя
                        пользователя</label>
                    <input style="width: 80%;" type="text" class="form-control" id="userUsername"
                           placeholder="Введите имя пользователя" ng-model="reguser.username">
                </div>
                <p></p>
                <div class="form-floating input-group-sm">
                    <label for="userPass" class="text-info font-weight-bold">Пароль</label>
                    <input style="width: 80%;" type="password" class="form-control" id="userPass"
                           placeholder="Введите пароль"
                           ng-model="reguser.password">
                </div>
                <p></p>
                <div class="form-floating input-group-sm">
                    <label for="userConfirmPass" class="text-info font-weight-bold">Подтверждение
                        пароля</label>
                    <input style="width: 80%;" type="password" class="form-control" id="userConfirmPass"
                           placeholder="Повторите пароль" ng-model="reguser.confirmPassword">
                </div>
            </div>
            <div class="col">
                <div class="media">
                    <img id="image" src="" class="mr-3" style="width: 118px; height: auto">
                </div>
                <label for="image_uploads" class="btn btn-outline-warning btn-sm">Выбрать аватар</label>
                <input type="file" id="image_uploads" name="image_uploads" style="opacity: 0"
                       accept="image/apng, image/bmp, image/gif, image/jpeg, image/pjpeg, image/png,
                image/svg+xml, image/tiff, image/webp, image/x-icon">
            </div>
        </div>
        <p class="font-weight-light font-italic">Все поля являются обязательными, кроме аватара.</p>
        <button class="btn btn-outline-warning btn-sm" type="submit">Зарегистрироваться</button>
    </form>
</div>
