<div>
    <div class="mainInfo">
        <h1 class="productTitle">{{productCard.title}}</h1>
        <p>
        <div class="media1">
            <img id="image" src="" class="mr-3 mediaImage" style="width: auto; height: 200px">
            <div class="mediaText">
                <p>{{productCard.description}}</p></div>
        </div>
    </div>
    <div ng-show="isVisibleAdmin()">
        <label for="image_uploads" class="btn btn-outline-warning btn-sm">Выбрать изображение для загрузки</label>
        <input type="file" id="image_uploads" name="image_uploads" style="opacity: 0"
               accept="image/jpg, image/jpeg, image/pjpeg, image/png">
    </div>
    <div ng-show="isVisibleAdmin()">
        <button class="btn btn-outline-primary btn-sm" ng-click="uploadImage()">Загрузить</button>
        <button class="btn btn-danger btn-sm" ng-click="deleteImage(productCard.id)">Удалить</button>
    </div>
    <h2 class="quantity">В наличии: {{productCard.quantityReservation}} шт.</h2>
    <h2 class="price">Цена: {{productCard.price}} руб.</h2>


</div>

<div ng-show="visibleAddCard()">
    <button class="btn btn-primary" ng-click="addToCart(productCard.id)"
            ng-if="productCard.quantity != 0"
            ng-show="suchAProductAlreadyExists(productCard.id)">
        Добавить в корзину
    </button>
    <button class="btn btn-secondary" ng-click=""
            ng-show="!suchAProductAlreadyExists(productCard.id)">
        Добавить в корзину
    </button>
</div>
<p></p>
<div>
    <h4 class="score" ng-show="commentsPage.content.length > 0">Оценка покупателей: {{avgEstimation}}</h4>
</div>
<div>
    <h4 class="comments">Отзывы</h4>
</div>
<div ng-show="commentsPage.content.length == 0">
    <p>Отзывов пока нет</p>
</div>

<table ng-show="commentsPage.content.length > 0" class="table table-hover tableProductCard">
    <thead>
    <tr>
        <th>Пользователь</th>
        <th>Комментарий</th>
        <th>Оценка</th>
        <th ng-show="isVisibleAdmin()"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in commentsPage.content">
        <td>{{p.user}}</td>
        <td>{{p.description}}</td>
        <td>{{p.estimation}}</td>
        <td ng-show="isVisibleAdmin()">
            <button type="button" class="btn btn-danger" ng-click="deleteComment(p.id)">Удалить комментарий</button>
        </td>
    </tr>
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item" ng-repeat="pageIndex in pagesList">
            <button class="page-link" ng-click="loadComments(pageIndex, productCard.title)">{{pageIndex}}</button>
        </li>
    </ul>
</nav>
<form novalidate ng-show="isUserLoggedIn()">
    <label for="username">Имя пользователя</label>
    <div class="form-floating input-group-sm">
        <input disabled="disabled" style="width: 40%;" type="text" class="form-control" id="username"
               placeholder="{{username}}" ng-model="comment.user">
    </div>
    <p></p>
    <label for="product">Товар</label>
    <div class="form-floating input-group-sm">
        <input disabled="disabled" style="width: 40%;" type="text" class="form-control" id="product"
               placeholder="{{productCard.title}}" ng-model="comment.product">
    </div>
    <p></p>
    <label for="commentDescription">Отзыв</label>
    <div class="form-floating input-group-sm">
            <textarea style="width: 40%; height:100%;" class="form-control" id="commentDescription" rows="5"
                      placeholder="Напишите свой отзыв" ng-model="comment.description">></textarea>
    </div>
    <p></p>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Radio" id="Radio1" value="1"
               ng-model="comment.estimation">
        <label class="form-check-label" for="Radio1">1</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Radio" id="Radio2" value="2"
               ng-model="comment.estimation">
        <label class="form-check-label" for="Radio2">2</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Radio" id="Radio3" value="3"
               ng-model="comment.estimation">
        <label class="form-check-label" for="Radio3">3</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Radio" id="Radio4" value="4"
               ng-model="comment.estimation">
        <label class="form-check-label" for="Radio4">4</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Radio" id="Radio5" value="5"
               ng-model="comment.estimation">
        <label class="form-check-label" for="Radio5">5</label>
    </div>
    <button class="btn btn-outline-success" style="width: 20%;" ng-show="!isMyCommentPresent()"
            ng-click="createComment()">Оставить отзыв
    </button>
    <button class="btn btn-outline-warning" style="width: 20%;" ng-show="isMyCommentPresent()"
            ng-click="updateComment()">Обновить отзыв
    </button>
    <p></p>
</form>

</div>
