<div>
    <p></p>
    <h3>Управление доступом</h3>
    <p></p>
    <h5>Пользователь: {{edituser.username}}</h5>
    <p></p>
    <form novalidate ng-submit="editRole()">
        <div class="form-floating input-group-sm">
            <select style="width: 40%;" class="form-control" ng-model="edituser.role" ng-options="u for u in roleList">
                <option value="">ROLE_...</option>
            </select>
        </div>
        <p></p>
        <button class="btn btn-outline-warning btn-sm" style="width: 20%;" type="submit">Назначить права</button>
    </form>
    <p></p>
    <button class="btn btn-outline-info btn-sm" ng-click="back()">Назад</button>
</div>
