<div>
    <p></p>
    <h3>Управление доступом</h3>
    <p></p>
    <h5>Пользователь: {{currentUserName}}</h5>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Права пользователя</th>
            <th>Вкл/Выкл</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="role in roleList">
            <td>{{role}}</td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" ng-click="editListRole(role)" ng-checked="checkRole(role)" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Назначить роль
                    </label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <button class="btn btn-outline-primary btn-sm" ng-click="editRole()"
            ng-disabled="equalsListsRoles()">Обновить права
    </button>
    <p></p>
    <button class="btn btn-outline-info btn-sm" ng-click="back()">Назад</button>
</div>
